@import '@styles/variables';

.box {
  display: flex;
  gap: 18px;
  align-items: center;
  .stroke {
    border-radius: 50%;
    border: 2px solid transparent;
    background: $color-avatar-stroke;
    padding: 1px;
    img {
      border-radius: 50%;
      border: 1px solid $color-header-bg;
    }
  }
}
