// colors
$color-primary: #b3b3b3;
$color-secondary: #ebffee;
$color-bg: #2c2c2c;
$color-ntf-primary: #e24352;

// button colors
$color-btn-primary: #4285f4;

// scroll
$color-scroll: #4285f4;

// variables
$fontSize-small: 10px;
$fontSize-x-small: 12px;
$fontSize-default: 14px;
$fontSize-medium: 16px;
$fontSize-large: 20px;
$fontSize-x-large: 24px;

$fontWeight-regular: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;

$lineHeight-default: 1.4;

$borderRadius-small: 4px;
$borderRadius-default: 8px;

$transition-default: 300ms;
