@import '@styles/variables';

.footer {
  width: 100%;
  padding: 32px;
  background-color: $color-header-bg;
  margin-top: auto;

  > * {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
}

.main {
  display: flex;

  .social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    height: fit-content;
    gap: 16px;
  }

  nav {
    display: flex;
    gap: 96px;
    margin-left: auto;

    > * {
      display: flex;
      flex-direction: column;
      min-width: 128px;

      > :first-child {
        font-weight: bold;
      }
      > :last-child {
        padding-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}

.legal {
  margin-top: 48px;

  hr {
    border-top: 1px solid $color-horizontal-line;
    margin-bottom: 36px;
  }

  > div {
    display: flex;
    justify-content: space-between;
  }

  a:not(:active) {
    color: $link-text-color-hover;
  }
}
