@import '@styles/variables';

.header {
  background-color: $color-header-bg;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    max-width: 1280px;
    padding: 0 32px;
    margin: 0 auto;
    ul {
      display: flex;
      gap: 32px;
      a {
        color: $color-primary;
        &:hover {
          color: $color-link-hover;
          transition: $transition-default;
        }
      }
    }
    .profile {
      min-width: 160px;
      text-align: center;
    }
  }
}
